<style>
    body {
        background-color: cadetblue;
    }
</style>
@{
    ViewBag.Title = "Registration";
}

<h2>Registration Complete</h2>

<div class="alert-success">
    <strong>@ViewBag.Message</strong>
</div>